body {
    background-color: #717e87;
    margin: 50px;
    font-family: 'Ubuntu', sans-serif;
    background-size: 100% 110%;
}

.login {
    margin: 0 auto;
    max-width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login-header {
    color: #fff;
    text-align: center;
    font-size: 100%;
}

form h3 {
    text-align: left;
    margin-left: 40px;
    color: #fff;
}

form {
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 10%;
    margin: 5% auto;
    text-align: center;
}

.login input[type="text"],
.login input[type="password"] {
    max-width: 400px;
    width: 80%;
    line-height: 3em;
    font-family: 'Ubuntu', sans-serif;
    margin: 1em 2em;
    border-radius: 5px;
    border: 2px solid #f2f2f2;
    outline: none;
    padding-left: 10px;
}

form button {
    max-width: 150px;
    width: 80%;
    line-height: 3em;
    font-family: 'Ubuntu', sans-serif;
    margin: 1em 2em;
    border: 1px solid #314151;
    border-radius: 20px;
    background-color: #314151;
    color: white;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}

.no-access {
    color: #E86850;
    margin: 20px 0px 20px;
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
}

/*Media Querie*/
@media only screen and (min-width : 150px) and (max-width : 530px) {
    .login-form h3 {
        text-align: center;
        margin: 0;
    }
    .login-button {
        margin-bottom: 10px;
    }
}