@charset "ISO-8859-1";
@font-face {
	font-family: 'Roboto';
	src: url('roboto.eot'); /* IE9 Compat Modes */
	src: url('roboto.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('roboto.woff') format('woff'), /* Modern Browsers */
	url('roboto.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('roboto.svg#svgFontName') format('svg'); /* Legacy iOS */
}
* {
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
	color: white
}

body {
	display: inline-block;
	background-color: #717e87;
}

input {
	background-color: #314151;
}

button {
	background-color: #314151;
}

