body {
	background-color: #717e87;
	margin: 50px;
	font-family: 'Ubuntu', sans-serif;
	background-size: 100% 110%;
}

.login {
	
	margin-top: auto;
	text-align: center;
	padding-top: 10px;
	
}

.login-header {
	color: #fff;
	text-align: center;
	font-size: 100%;
	margin: auto;
}
.login-form {
	box-sizing: border-box;
	padding-top: 15px;
	padding-bottom: 10%;
	margin: auto;
	max-width: 1000px;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 25px;
	text-align: center;
}

.bodybutton {
	width: 100%;
	max-width: 280px;
	height: 100%;
	margin-left: auto;
  	margin-right: auto;
	font-family: 'Ubuntu', sans-serif;
	border: 1px solid #314151;
	border-radius: 10px;
	background-color: #314151;
	color: white;
	position: relative;
	font-family: 'Ubuntu', sans-serif;
	cursor: pointer;
}

.center{	
	text-align: center;
	padding: 15px;
}
table { /* Styling der Tabelle */ }

.table-scrollable {
  width: 100%;
  overflow-y: auto;
  margin: 0 0 1em;
  padding: 15px;
}

.table-scrollable::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
}

.table-scrollable::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid #fff;
  background-color: rgba(0, 0, 0, .3);
}

th {
	text-align: left;
}

th, td {
	padding: 0 1em 0.5ex 0;
}

th.center, td.center {
	text-align: center;
}

th.num, td.num {
	text-align: right;
}

/*Media Querie*/
@media only screen and (min-width : 150px) and (max-width : 530px) {
	.login-form h3 {
		text-align: center;
		margin: 0;
	}
	.login-button {
		margin-bottom: 10px;
		text-align: center;
	}

}