body {
    background-color: #717e87;
    margin: 50px;
    font-family: 'Ubuntu', sans-serif;
    background-size: 100% 110%;
}
form {
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 10%;
    margin: 5% auto;
    text-align: center;
}
h1{
    text-align: center;
}
#container {
    outline-style: none;
    box-shadow: none;
    border: none black;
    max-width: 500px;
    padding-top: 100px;
}
#datetimepicker1{
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    background-color: #717e87;
    font-family: 'Ubuntu', sans-serif;
    background-size: 100% 100%;
}
#datetimepicker2{
    
    border-radius: 20px;
    text-align: center;
    background-color: #717e87;
    font-family: 'Ubuntu', sans-serif;
    background-size: 100% 100%;
}
#submit{
    border: none;
    margin-left: 45%;
    text-align: center;
    background-color: #314151;
    font-family: 'Ubuntu', sans-serif;
    background-size: 100% 100%;
}
#panel-heading{
    background-color: #314151;
    text-align: center;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    background-size: 100% 100%;
}

#control-label{ 
    margin-left: 50%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #314151;
    background-size: 100% 100%;

}