<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
	<title>Auswahl Anlagemodul</title>
	<link rel='stylesheet' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
	<link rel="stylesheet" href="../css/6div.css">
	<link rel="stylesheet" href="../css/general.css">

</head>

<body>
	<div id="header"></div>
	<!-- partial:index.partial.html -->
	<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

	<!-- temporarily discarded
	<div class="wrap">
		<div class="search">
			<input type="text" class="searchTerm" placeholder="Suchen Sie etwas?">
			<button type="submit" class="searchButton">
				<i class="fa fa-search"></i>
			</button>
		</div>
	</div>
	 -->
	
		<div class="login-header">
			<h1>Welches Anlagemodul möchten Sie kontrollieren?</h1>
		</div>
		<div class="grid-container">
			<button id="infor-sensor-1" class="grid-child">
				Hochregallager<br>
				Status: <span style="color:green">LIVE</span><br>
			</button>

			<button id="infor-sensor-2" class="grid-child">
				Bearbeitungsstation<br>
				Status: <span style="color:green">LIVE</span><br>
			</button>

			<button id="infor-sensor-3" class="grid-child">
				Vakuum-Sauggreifer<br>
				Status: <span style="color:green">LIVE</span><br>
			</button>

			<button id="infor-sensor-4" class="grid-child">
				Sortierstrecke<br>
				Status: <span style="color:green">LIVE</span><br>
			</button>
			<button id="infor-sensor-5" class="grid-child">
				Umsetzer<br>
				Status: <span style="color:green">LIVE</span><br>
			</button>

			<button id="infor-sensor-6" class="grid-child">
				Anlagemodul hinzufügen
			</button>
		</div>
		<div id="footer"></div>
	</div>
	<!-- partial -->
	<script src="../js/helper.js"></script>
	<script src="../js/auswahl_anlage.js"></script>
</body>


</html>