<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sensorik Hochregallager</title>
    <link rel='stylesheet' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
    <link rel="stylesheet" href="../css/option.css">
    <link rel="stylesheet" href="../css/general.css">
</head>

<body>
    <div id="header"></div>
    <div id="body" onload="loadDiagram()">
        <!-- partial:index.partial.html -->
        <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

        <div class="login">
            <div class="login-header">
                <h1>Zusammenfassung</h1>
            </div>
            <div class="grid-container">
			<li>
				<ul></ul>
			</li>
            </div>
        </div>
    </div>
    <div id="footer"></div>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
    <script src="../js/helper.js"></script>
    <script src="../js/diagram.js"></script>
</body>

</html>