<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Support Page</title>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/support.css">
    <link rel="stylesheet" href="../css/general.css">
</head>

<body>
    <div id="header"></div>
    <div class="login">
        <div class="login-header">
            <h1>Erstellen Sie hier Ihr Support Ticket</h1>
            <br>
        </div>
        <div class="login-form">
            <h3>Kundennummer</h3>
            <input type="text" placeholder="Kundennummer" /><br>
            <br>
            <h3>Problembeschreibung</h3>
            <textarea placeholder="Wie lautet Ihr Problem."></textarea>
            <br>
            <input type="button" value="Absenden" class="login-button" />
        </div>
    </div>
    
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
    <script src="../js/option.js"></script>
</body>

</html>